@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 14px;
}
body{
    font-family: 'Montserrat', sans-serif;;


    background-color: hsl(30, 38%, 92%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.main-container{
    background-color: white;
    max-width: 600px;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 30px;
}
#img{
    max-width: 50%;
}
#img img{
    max-width: 100%;
    display: inherit;
}
.card-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    max-width: 50%;
    font-size: 1rem;
    color: hsl(228, 12%, 48%);
}
.card-text>h1{
    font-family: 'Fraunces', serif;
    line-height: 1em;
    color: hsl(212, 21%, 14%);
    font-size: 2.5rem;
}
.card-text>h2{
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.card-text>p{
    line-height: 2em;
}
.price-tag{
    font-family: 'Fraunces';
    display: flex;
    align-items: center;
}
#new-tag{
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    padding-right:20px;
}
#old-tag{
    font-weight: 700;
    text-decoration: line-through;
}
.btn{
    background-color: hsl(158, 36%, 37%);
    padding: 8px 0;
    border-radius: 8px;
    
    cursor: pointer;

    color: white;
    font-size: 0.9rem;
    font-weight: 700;

    transition: ease 0.2s;
}
.btn:hover{
    background-color: hsl(158, 36%, 27%);
}
.btn>img{
    padding: 0 10px;
}


@media (max-width: 650px) {
    html{
        font-size: 12px;
    }
    .main-container{
        flex-direction: column;
        max-width: 450px;
        margin: 0 13px;
    }
    #img , .card-text{
        max-width: 100%;
    }
    .card-text>*{
        padding-bottom: 10px;
    }
}
